<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>Resume service</title>
    <link rel="stylesheet" href="/styles/authorization_page_styles.css">
  </head>
  <body bgcolor="#696969"
        bgproperties="fixed">
    <main_text>Resume service</main_text>
    <form action="" method="post">
      <p>
        <label for="username">Username</label>
        <input type="text" name="username">
      </p>
      <p>
        <label for="password">Password</label>
        <input type="password" name="password">
      </p>
      <p>
        <input type="submit">
      </p>
    </form>
    <form action="registration" method="get">
      <input type="submit" value="Зарегистрироваться">
    </form>
    <p>{{ error_value }}</p>
  </body>
</html>